<ion-header>
  <ion-toolbar>
    <ion-title>CASOS ABIERTOS</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="cerrarSession()">Salir</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button size="full" color="atrums" (click)="pedirCasos()">
  LISTAR CASOS
</ion-button>

<ion-card *ngFor="let caso of casos">
  <ion-card-header>
    <ion-card-subtitle><b><ion-icon name="filing"></ion-icon> CASO N° </b>{{caso.numcaso}}</ion-card-subtitle>
    <ion-card-title>{{caso.nombrecliente}}</ion-card-title>
    <ion-card-subtitle>{{caso.nombreagencia}} / {{caso.nombrecanal}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
      <b>Nombre Caso: </b>{{caso.nombrecaso}}<br>
      <b>Descripcion: </b>{{caso.descrpcion}}
  </ion-card-content>
  <ion-item>
      <ion-button color="atrums" (click)="listarLineas(caso.idcaso)">REVISAR</ion-button>
  </ion-item>
</ion-card>

</ion-content>