.centrarImagen {
    height: 20%;
    text-align: center;
    margin-bottom: 0px;
  }
.centrarCrendenciales{
    left:20%;
    right:10%;   
  }
  .centrarContenedor{
    text-align: center;
  }
  .centrarAlFinal{
    text-align: center;
    margin-bottom: 0px;
  }
  #contenedor{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }