<ion-content>
  <ion-grid>
    <ion-row class="centrarContenedor">
        <ion-col>
            <div class="centrarImagen">
              <br>
              <img style="width: 180px; height: 65px;" src="assets/icon/neomedia.png"/>
              <br>
            </div>
          </ion-col>
        </ion-row>
      <ion-row>
          <ion-col>
          <div class="centrarImagen">
              <img style="width: 200px; height: 200px;" src="assets/icon/icon-login.png"/>
          </div>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="centrarCrendenciales">
          <div>
              <ion-input placeholder="Usuario" [(ngModel)]="u"><ion-text color="danger">*</ion-text></ion-input>
              <ion-input type="password" placeholder="Password" [(ngModel)]="p"><ion-text color="danger">*</ion-text></ion-input>
          </div>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="centrarContenedor">
              <ion-button  shape="round"  color="atrums" (click)="onSubmitLogin()" >INGRESAR</ion-button>
          </ion-col>
      </ion-row>
      <ion-row class="centrarAlFinal" >
        <ion-col >
                <div>
                  <br>
                </div>
                <div>
                  <br>
                </div>
                <div > 
                        <img style="width: 220px; height: 62px;" src="assets/icon/logoatrums.png"/>
                </div>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>