<ion-header>
  <ion-toolbar>
    <ion-title><h6>CASOS POR REGISTRAR</h6></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let casolinea of caso">
        <ion-card-header>
          <ion-icon name="document"></ion-icon>
          <ion-card-title>{{casolinea.nombrecaso}}</ion-card-title>
          <ion-card-subtitle><b>Responsable:</b> {{casolinea.nombretecnico}}</ion-card-subtitle>
          <ion-card-subtitle><b>Comentario:</b> {{casolinea.comentario}}</ion-card-subtitle>
          <ion-card-subtitle>
              <ng-container *ngIf="casolinea.estadolinea; then thenIniciado; else elseIniciado"></ng-container>
              <ng-template #thenIniciado>
                 <b>SIN INICIAR</b>
              </ng-template>
              <ng-template #elseIniciado>
                 <b>INICIADO</b>
              </ng-template>
          
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
              <ion-row>
                  <ion-col>
                      <ng-container *ngIf="casolinea.estadolinea; then thenTexto; else elseTexto"></ng-container>
                      <ng-template #thenTexto>
                      </ng-template>
                      <ng-template #elseTexto>
                        <b>Descripcion:</b><br>
                          <ion-textarea [(ngModel)]="coment"></ion-textarea>  
                      </ng-template>
                    </ion-col>
              </ion-row>
            <ion-row>
              <ion-col>
              <ng-container *ngIf="casolinea.estadolinea; then thenTemplate; else elseTemplate"></ng-container>
              <ng-template #thenTemplate>
                  <ion-button size="full" color="atrums" (click)="putIniciarLinea(casolinea.idlinea)"><ion-icon name="play"></ion-icon> Iniciar </ion-button>  
              </ng-template>
              <ng-template #elseTemplate>
                  <ion-button size="full" color="atrums" (click)="putFinalizarLinea(casolinea.idlinea,coment)"><ion-icon name="square"></ion-icon>Finalizar</ion-button>    
              </ng-template>
            </ion-col>
            </ion-row>
            
          </ion-grid>
        
        </ion-card-content>
      </ion-card>
</ion-content>
